<mat-toolbar color="primary">
  <span>Mapas</span>
</mat-toolbar>

<div class="main-container">
  <button class="raised" mat-raised-button>Basic</button>
  <button class="raised" mat-raised-button color="primary">Primary</button>
  <button class="raised" mat-raised-button color="accent">Accent</button>
  <button class="raised" mat-raised-button color="warn">Warn</button>
  <button class="raised" mat-raised-button disabled>Disabled</button>
  <a class="raised" mat-raised-button routerLink=".">Link</a>
</div>
